.header-bg{
    background-image: url('../image/Untitled-1.png');
    width: 100%;
    height: 1080px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-top: 30px; 
}
.container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.logo{
    max-width: 215px;
    width: 100%;
    
}
.navigation{
    max-width: 500px;
    width: 100%;
    
}
.nav-ul{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.nav-li{
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.nav-li:hover{
    font-weight: 900;
    color: red;
}

.h1-block{
    max-width: 500px;
    width: 100%;
    margin: 150px 200px;
}
.h1-title{
    width: 100%;
    font-size: 96px;
    color: white;
    
}
.description-block{
    margin: 0 200px;
    max-width: 450px;
    width: 100%;
    font-size: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    line-height: 40px;

}
.description-p{
    width: 80%;
}
.button-block{
    /* max-width: 400px; */
    width: 100%;
   margin: 50px 200px;
   position: relative;
}
.butt{
    width: 12%;
    border-radius: 50px;
    height: 70px;
    color: #A80E0E;
    font-size: 27px;
    background-color: #FFAA00;
    transition: 5s;
    cursor: pointer;
    
}
.arrow{
    margin-right: 30px;
    margin-top: -10px;
    position: absolute;
    top: 55%;
    left: 20px;  
}
.arrow:hover{
    transform: rotate(360deg);
}
.butt:focus{
    transform: rotate(-360deg);
}
/* end header */
/* start section 1 */
.section{
    width: 100%;
    height: 750px;
}
.section-text-block{
    margin: 0 auto;
    width: 700px;
    margin-top: 150px;
}
.h2-title{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color:#A80E0E;
    width: 100%;
    margin-left: 150px;
    font-weight: bolder;
}
.h2-title-p{
    margin-top: 50px;
    font-size: 20px;
    color: #382E36;
    font-family: 'Montserrat', sans-serif;
}
.meal-block{
    width: 100%;
    padding: 250px 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.burger::after{
    content: 'BURGER';
    display: block;
    margin: 25px 20px;
    color: #000000;
}
.pizza::after{
    content: 'PIZZA';
    display: block;
    margin-left: 20px;
    margin-top: 20px;
    color: #000000;
}
.fast-food::after{
    content: 'FAST-FOOD';
    display: block;
    margin-top: 25px;
    color: #000000;
}
.Cupcake::after{
    content: 'CUPCAKE';
    display: block;
    margin-left: 10px;
    margin-top: 20px;
    margin-left: 0px;
    color: #000000;
}
.sandwich{
    margin-top: 20px;
}
.sandwich::after{
    content: 'SANDWICH';
    display: block;
    margin-left: 10px;
    margin-top: 20px;
    color: #000000;
}
.spagheti::after{
    content: 'SPAGHETI';
    display: block;
    margin-left: 10px;
    margin-top: 12px;
    outline-color: #000000;
}
.pizza{
    margin-top: -20px;
}
.fast-food{
    margin-top: -10px;
}
.Cupcake{
    margin-top: -18px;
}
.sandwich{
    margin-top: 10px;
}
/* end section1 */
/* start section2 */
.section2{
    max-width: 1920px;
    width: 100%;
    height: 850px;
    margin-top: 100px;
    background-color: #FFAA00;
}
.section2-block{
    display: flex;
    padding-top: 40px;

}
.text-block{
  max-width:450px;
  width: 100%;
  margin: 0 auto;
}
.img-block{
    max-width: 809px;
    width: 100%;
}
.supply-image{
    width: 100%;
}
.supply-text{
    width: 75%;
    font-size: 47px;
    color: white;
    line-height: 60px;
    margin-top: 300px;
}
.supply-text2{
    max-width: 100%;
    font-size: 47px;
    color: white;
    line-height: 60px;
    
}
.supply-p{
    width: 75%;
    font-size: 20px;
    line-height: 30px;
    color: white;
    margin-top: 50px;
    
}